*{
    padding: 0;
    margin: 0;
    user-select: none;
}

:root {
    --BG-main: var(--BG-light); 
    --grid-main: var(--grid-light);
    --gridBG-main: var(--gridBG-light);
    --X-main: var(--X-light);
    --O-main: var(--O-light);
    --winning-main: var(--winning-light);

    --BG-light: #E0E0E2; 
    --grid-light: #3B2C35;
    --gridBG-light: #607B7D;
    --X-light: #2B56A1;
    --O-light: #CC3F0C;
    --winning-light: orange;

    --BG-dark: orange; 
    --grid-dark: yellow;
    --gridBG-dark: green;
    --X-dark: aqua;
    --O-dark: olive;
    --winning-dark: purple;
}
 
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 95vh;
    background-color: var(--BG-main);
    font-family: 'Kalam';
    /* font-family: 'Times New Roman'; */
}

#header-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#row1 {
    width: 100%;
    height: 50px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#title, #themes-btn, #link-btn {
    color: var(--grid-main);
    font-weight: bold;
    font-size: 25px;
    user-select: none;
}

#title {
    margin-left: 12px;
    margin-top: 12px;
}

#themes-btn {
    margin-right: 12px;
    margin-top: 12px;
}

#link-btn {
    margin-left: 12px;
}

.underline-text {
    text-decoration: underline;
}

#turn-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid black; */
    border-bottom: 1px solid var(--grid-main);
    color: var(--grid-main);
    padding-bottom: 4px;
    width: 365px;
    margin-bottom: 15px;
}

#turn-label, #turn-count {
    font-size: 15px;
    font-weight: bold;
}

#turn-label {
    margin-left: 5px;
}

#turn-count {
    margin-right: 5px;
}

#invite-container {
    width: 365px;
    height:35px;
    font-size: 16px;
    border-top: 1px solid var(--grid-main);
    margin-top: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
    color: var(--grid-main);
    font-weight: bold;
    display: none;
}

#invite-text {
    margin-left: 5px;
    text-align: center;
}

#invite-btn {
    border: 1px solid var(--grid-main);
    border-radius: 5px;
    width: 250px;
    height: 25px;
    text-align: center;
    margin-top: 5px;
    background-color: var(--BG-main);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gameboard {
    width: 365px;
    height: 365px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.large-grid {
    padding: 5px;
    width: 109px;
    height: 109px;
    border: 2px solid var(--grid-main);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

/* top row */
.large-grid:nth-child(1), .large-grid:nth-child(3), .large-grid:nth-child(5) {
    border-top: none;
}
/* bottom row */
.large-grid:nth-child(13), .large-grid:nth-child(15), .large-grid:nth-child(17) {
    border-bottom: none;
}
/* left column */
.large-grid:nth-child(1), .large-grid:nth-child(7), .large-grid:nth-child(13) {
    border-left: none;
}
/* right column */
.large-grid:nth-child(5), .large-grid:nth-child(11), .large-grid:nth-child(17) {
    border-right: none;
}

.large-grid-text {
    padding: 5px;
    padding-left: none;
    width: 108px;
    height: 107px;
    margin-left: -118px;
    margin-bottom: 1px;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 100px;
    position: relative;
    z-index: 20;
}

.small-grid {
    width: 35px;
    height: 35px;
    border: 1px solid var(--grid-main);
    background-color: var(--BG-main);
    color: var(--XCol);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
    /* display: none */
}

/* top row */
.small-grid:nth-child(1), .small-grid:nth-child(2), .small-grid:nth-child(3) {
    border-top: none;
}
/* bottom row */
.small-grid:nth-child(7), .small-grid:nth-child(8), .small-grid:nth-child(9) {
    border-bottom: none;
}
/* left column */
.small-grid:nth-child(1), .small-grid:nth-child(4), .small-grid:nth-child(7) {
    border-left: none;
}
/* right column */
.small-grid:nth-child(3), .small-grid:nth-child(6), .small-grid:nth-child(9) {
    border-right: none;
}

/* top left */
.small-grid:nth-child(1) {
    border-top-left-radius: 30%;
}
/* top right */
.small-grid:nth-child(3) {
    border-top-right-radius: 30%;
}
/* bottom left */
.small-grid:nth-child(7) {
    border-bottom-left-radius: 30%;
}
/* bottom right */
.small-grid:nth-child(9) {
    border-bottom-right-radius: 30%;
}





/*  desktop-view */
@media (min-width:500px) {

}

#button-container {
    border: 1px solid black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#local-btn, #online-btn {
    margin-top: 15px;
    border: 1px solid black;
    height: 35px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#online-btn {
    margin-bottom: 40px;
}

#join-text {
    border: 1px solid black;
    width: 230px;
    font-size: 22px;
    text-align: center;
}

#join-btn {
    font-weight: bold;
}

#rules-text {
    width: 230px;
    border: 1px solid black;
    margin-top: 5px;
    text-align: center;
}
