<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- add real link here later -->
    <title>ultimate tic tac toe by shalin</title>
    <script 
    src="https://cdn.socket.io/4.6.0/socket.io.min.js" 
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" 
    crossorigin="anonymous">
    </script>
</head>


<body>
    <div id="header-container">
        <div id="row1">
            <div id="themes-btn" class="underline-text">theme</div>
        </div>
        <style>
            #header-container {
                height: 40px;
            }

            #row1{
                justify-content: end;
            }

            #title, #link-btn {
                font-size: 60px;
                margin-left: none;
                margin-top: none;
            }

            #link-btn {
                font-size: 40px;
            }
        </style>
    </div>
    <div id="title-container">
        <div id="title">ultimate <br> tic tac toe</div>
        <div id="link-btn">
            by <span class="underline-text">shalin</span>
        </div>
    </div>
    <div id="button-container">
        <div id="local-btn" class="underline-text">local game</div>
        <div id="online-btn" class="underline-text">online game</div>
        <div id="join-text">have a game code? <span id="join-btn" class="underline-text">join</span>
        </div>

        <div id="rules-text">you can find a simple explanation of the rules <span id="rules-btn" class="underline-text">
            here
        </span></div>
    </div>




    <script src="/static/js/index.js"></script>
</body>
</html>