<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <!-- add real link here later -->
    <title>ultimate tic tac toe by shalin</title>
    <script 
    src="https://cdn.socket.io/4.6.0/socket.io.min.js" 
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" 
    crossorigin="anonymous">
    </script>
</head>



<body>
    <div id="header-container" class="fade-in">
        <div id="row1">
            <div id="title">ultimate tic tac toe</div>
            <div id="themes-btn" class="underline-text">theme</div>
        </div>
        <div id="link-btn">
            by <span class="underline-text">shalin</span>
        </div>
    </div>
    <div id="gameboard" class="fade-in">
        <div class="large-grid" id="0">
            <div class="small-grid" id="00"></div>
            <div class="small-grid" id="01"></div>
            <div class="small-grid" id="02"></div>
            <div class="small-grid" id="03"></div>
            <div class="small-grid" id="04"></div>
            <div class="small-grid" id="05"></div>
            <div class="small-grid" id="06"></div>
            <div class="small-grid" id="07"></div>
            <div class="small-grid" id="08"></div>
        </div>
        <div class="large-grid-text" id="0"></div>

        <div class="large-grid" id="1">
            <div class="small-grid" id="10"></div>
            <div class="small-grid" id="11"></div>
            <div class="small-grid" id="12"></div>
            <div class="small-grid" id="13"></div>
            <div class="small-grid" id="14"></div>
            <div class="small-grid" id="15"></div>
            <div class="small-grid" id="16"></div>
            <div class="small-grid" id="17"></div>
            <div class="small-grid" id="18"></div>
        </div>
        <div class="large-grid-text" id="1"></div>

        <div class="large-grid" id="2">
            <div class="small-grid" id="20"></div>
            <div class="small-grid" id="21"></div>
            <div class="small-grid" id="22"></div>
            <div class="small-grid" id="23"></div>
            <div class="small-grid" id="24"></div>
            <div class="small-grid" id="25"></div>
            <div class="small-grid" id="26"></div>
            <div class="small-grid" id="27"></div>
            <div class="small-grid" id="28"></div>
        </div>
        <div class="large-grid-text" id="2"></div>

        <div class="large-grid" id="3">
            <div class="small-grid" id="30"></div>
            <div class="small-grid" id="31"></div>
            <div class="small-grid" id="32"></div>
            <div class="small-grid" id="33"></div>
            <div class="small-grid" id="34"></div>
            <div class="small-grid" id="35"></div>
            <div class="small-grid" id="36"></div>
            <div class="small-grid" id="37"></div>
            <div class="small-grid" id="38"></div>
        </div>
        <div class="large-grid-text" id="3"></div>

        <div class="large-grid" id="4">
            <div class="small-grid" id="40"></div>
            <div class="small-grid" id="41"></div>
            <div class="small-grid" id="42"></div>
            <div class="small-grid" id="43"></div>
            <div class="small-grid" id="44"></div>
            <div class="small-grid" id="45"></div>
            <div class="small-grid" id="46"></div>
            <div class="small-grid" id="47"></div>
            <div class="small-grid" id="48"></div>
        </div>
        <div class="large-grid-text" id="4"></div>

        <div class="large-grid" id="5">
            <div class="small-grid" id="50"></div>
            <div class="small-grid" id="51"></div>
            <div class="small-grid" id="52"></div>
            <div class="small-grid" id="53"></div>
            <div class="small-grid" id="54"></div>
            <div class="small-grid" id="55"></div>
            <div class="small-grid" id="56"></div>
            <div class="small-grid" id="57"></div>
            <div class="small-grid" id="58"></div>
        </div>
        <div class="large-grid-text" id="5"></div>

        <div class="large-grid" id="6">
            <div class="small-grid" id="60"></div>
            <div class="small-grid" id="61"></div>
            <div class="small-grid" id="62"></div>
            <div class="small-grid" id="63"></div>
            <div class="small-grid" id="64"></div>
            <div class="small-grid" id="65"></div>
            <div class="small-grid" id="66"></div>
            <div class="small-grid" id="67"></div>
            <div class="small-grid" id="68"></div>
        </div>
        <div class="large-grid-text" id="6"></div>

        <div class="large-grid" id="7">
            <div class="small-grid" id="70"></div>
            <div class="small-grid" id="71"></div>
            <div class="small-grid" id="72"></div>
            <div class="small-grid" id="73"></div>
            <div class="small-grid" id="74"></div>
            <div class="small-grid" id="75"></div>
            <div class="small-grid" id="76"></div>
            <div class="small-grid" id="77"></div>
            <div class="small-grid" id="78"></div>
        </div>
        <div class="large-grid-text" id="7"></div>
        
        <div class="large-grid" id="8">
            <div class="small-grid" id="80"></div>
            <div class="small-grid" id="81"></div>
            <div class="small-grid" id="82"></div>
            <div class="small-grid" id="83"></div>
            <div class="small-grid" id="84"></div>
            <div class="small-grid" id="85"></div>
            <div class="small-grid" id="86"></div>
            <div class="small-grid" id="87"></div>
            <div class="small-grid" id="88"></div>
        </div>
        <div class="large-grid-text" id="8"></div>
    </div>
    
    <script src="/static/js/local.js"></script>
</body>
</html>